body{
    background-color: #EAF6F6;
}
hr{
    border-style: dotted none none none;
    border-color: gray;
    border-width: 5px;
    height: 0px;
    width: 30px;
    /* max-width: 200px; */
    /* min-width: 30px; */
    background-color: white;
}
img{
    /* height: 200px; */
    width: 200px;
}
td{
    max-width: 400px;
}
h1, h3{
    color: #66BFBF;
}

a{
    text-decoration: none;
    color:black;
    border: 2px solid transparent ;
    background-color: #66BFBF;
    border-radius: 2.5rem;
    padding: 4px;
}